@model BusBoard.Web.ViewModels.BusInfo
@{
    ViewBag.Title = "Bus Information";
}
<meta http-equiv="refresh" content="30" />
<h2>BusInfo</h2>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>


    @foreach (var pair in Model.Stops)
    {
            <div class="list-group">
                <ul class="list-group-item">
                    <p>@pair.Key</p>
                    <ul>
                        @foreach (var arrival in pair.Value)
                        {
                            <p> @arrival.DestinationName</p>
                            <ul>
                                <li>Line ID: <a href="/Home/LineInfo/@arrival.LineId">@arrival.LineId</a></li>
                                <li>Expected Arrival: @arrival.ExpectedArrival</li>
                                <li>Time to Station: @arrival.TimeToStation</li>
                                <li>Vehicle ID: @arrival.VehicleID</li>
                            </ul>
                        }
                    </ul>

                </ul>
            </div>
            }
        

        <p>@ViewBag.Message</p>
    </div>
