@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
    <div class="list-group">
        @foreach (var pair in Model.Stops)
        {
        <a class="list-group-item">
            <p>@pair.Key</p>
                    <ul>
                        @foreach (var arrival in pair.Value)
                        {
                            <li> @arrival.DestinationName</li>
                            <ul>
                                <li>Expected Arrival: @arrival.ExpectedArrival</li>
                                <li>Time to Station: @arrival.TimeToStation</li>
                                <li>Vehicle ID: @arrival.VehicleID</li>
                            </ul>
                            }
                    </ul>
                </a>
        }
    </div>
    <p>@ViewBag.Message</p>
</div>
