@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
    <ul>
        @foreach (var pair in Model.Stops)
        {
            <li>@pair.Key</li>
            <ul>
                @foreach (var arrival in pair.Value)
                {
                <li> @arrival.DestinationName @arrival.ExpectedArrival  @arrival.TimeToStation @arrival.VehicleID</li>
                }
            </ul>
        }
    </ul>
    <p>@ViewBag.Message</p>
</div>
